body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#root {
  /* flex-контейнер для <header>, <main> и <footer> */
  display: flex;
  /* flex-элементы <header>, <main> и <footer> выстаиваются по вертикали */
  flex-direction: column;
  /* вся высота viewport браузера */
  min-height: 100vh;
}
main {
  padding-top: 20px;
  /*
   * может как увеличиваться, так и уменьшаться, чтобы вместе с
   * <header> и <footer> занять всю высоту viewport браузера
   */
  flex: 1 1 auto;
}
.page-footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
nav {
  box-shadow: none;
}
